{% extends 'layout.html' %}

{% block body %}

<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
	
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Smart Farming Using ML</h3>
								<h4 class="text-wh mx-auto my-4"><b>Plan your next crop with our website.</b></h4>
								<br>
								<h4 class="text-wh mx-auto my-4"><strong>We Help you with</strong></h4>
								<p class="text-li mx-auto mt-2">
									Recommending a Crop <br>
									Predicting the Yield of the Crop <br>
									Fertilizer recommendation</p>
							</div>
						</div>
					</div>
				</div>
	</div>
</section>


<section class="core-value py-5">
	<div class="container py-md-4">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Steps </h3>
		<div class="row core-grids">
			<div class="col-lg-6 core-left">
				<img src="{{ url_for('static', filename='images/core.jpg') }}" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-6 core-right">
				<h3 class="mt-4">Please follow below steps</h3>
				<p class="mt-3">
					1. First Select Crop Recommendation to get a crop recommended for your inputs.<br>
					2. Second select Fertilizer Recommendation so that u can view the advice for the recommended crop.<br>
					3. Third select Yield Prediction to Predict the Yield per acre for the recommended crop.<br></p>
			</div>
		</div>
	</div>
</section>


<section class="blog py-5">
	<div class="container py-md-5">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Application </h3>
		<div class="row blog-grids">
			<div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">
				<img src="{{ url_for('static', filename='images/s3.jpg') }}" class="img-fluid" alt="" />
				<a href="{{ url_for('crop_recommend') }}">
					<div class="blog-info">

						<h4>Crop</h4>

						<p class="mt-2"> Recommendation about the type of crops to be cultivated which is best suited
							for the respective conditions</p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 blog-middle mb-lg-0 mb-sm-5 pb-lg-0 pb-md-5">
				<img src="{{ url_for('static', filename='images/s2.jpg') }}" class="img-fluid" alt="" />
				<a href="{{ url_for('fertilizer_recommendation') }}">
					<div class="blog-info">
						<h4>Fertilizer</h4>
						<p class="mt-2">Recommendation about the type of fertilizer best suited for the particular soil
							and the recommended crop</p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 blog-right mt-lg-0 mt-5 pt-lg-0 pt-md-5">

				<img src="{{ url_for('static', filename='images/s4.jpg') }}" class="img-fluid" alt="">

				<a href="{{ url_for('disease_recommendation') }}">
					<div class="blog-info">
						<h4>Yield Prediction</h4>
						<p class="mt-2">Predicting the Yield of the Recommended crop in tonnes per acres. </p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

</html>

{% endblock %}