{% extends 'layout.html' %} {% block body %}

<style>

    html body {
      background-color: rgb(230, 255, 200);

      
  }

  
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
  <b>Please Enter the Values as asked correctly to get a crop recommended by us.</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 50rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('yield_prediction') }}">

    <div class="form-group">
      <label for="area" style="font-size: 17px"><b>Area</b></label>
      <input
        type="number"
        class="form-control"
        id="Area"
        name="Area"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="crop" style="font-size: 17px"
        ><b>Crop</b></label
      >
      <select
        name="cropname"
        class="form-control"
        id="crop"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected>Select crop</option>
        <option>rice</option>
        <option>maize</option>
        <option>chickpea</option>
        <option>kidneybeans</option>
        <option>pigeonpeas</option>
        <option>mothbeans</option>
        <option>mungbean</option>
        <option>blackgram</option>
        <option>lentil</option>
        <option>pomegranate</option>
        <option>banana</option>
        <option>mango</option>
        <option>grapes</option>
        <option>watermelon</option>
        <option>muskmelon</option>
        <option>apple</option>
        <option>orange</option>
        <option>papaya</option>
        <option>coconut</option>
        <option>cotton</option>
        <option>jute</option>
        <option>coffee</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="state" style="font-size: 17px "><b>State</b></label>
      <select
        onchange="print_city('state', this.selectedIndex);"
        id="state"
        name="state"
        class="form-control"
        style="font-weight: bold; color: black;"
        
        required
      ></select>
      <br />
      <label for="city" style="font-size: 17px"><b>City</b></label>
      <select
        id="city"
        class="form-control"
        name="city"
        style="font-weight: bold; color: black;"
        required
      ></select>
      <script language="javascript">
        print_state("sts");
      </script>
    </div>

    <div class="form-group">
      <label for="year" style="font-size: 17px"><b>Year</b></label>
      <input
        type="number"
        class="form-control"
        id="year"
        name="year"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="season" style="font-size: 17px"
        ><b>Season</b></label
      >
      <select
        name="season"
        class="form-control"
        id="season"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected>Select Season</option>
        <option>Kharif</option>
        <option>Rabi</option>
        <option>Zaid</option>
        <option>Summer</option>
        <option>Winter</option>
        <option>Autumn</option>
        <option>Whole Year</option>
      </select>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;"
      >
        Predict
      </button>
    </div>
  </form>
</div>



<!-- Form section -->

{% endblock %}
